.loanBtn{
    background-color: #27476E;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
}

.loanBtn:hover{
    background-color: #001D4A;
    color: #fff ;
}